connection_params:
  host: "mysql"
  user: "transit"
  password: "CHANGE_ME"
  database: "transitdb"
  port: 3306

vehicle_updates:
  data_ingestion_params:
    ingestion_url: "https://bct.tmix.se/gtfs-realtime/vehicleupdates.pb?operatorIds=47"
    fetch_delay_seconds: 5
    connection_retry_delay_seconds: 10

trip_updates:
  data_ingestion_params:
    ingestion_url: "https://bct.tmix.se/gtfs-realtime/tripupdates.pb?operatorIds=47"
    fetch_delay_seconds: 5
    connection_retry_delay_seconds: 10

logging_file: "data_ingestion.log"

